# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter metadata files (optional)
*.nbconvert.ipynb

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variable files or secrets
.env